@media (min-width: 701px) {
  .editor-layout[data-shell-mode='landscape']
    .resource-activity-dock-landscape[data-active-activity='characters']
    .character-manager[data-character-presentation='landscape']
    .character-list-items
    button {
    grid-template-columns: 64px minmax(0, 1fr) 22px;
  }

  .editor-layout[data-shell-mode='landscape']
    .resource-activity-dock-landscape[data-active-activity='characters']
    .character-manager[data-character-presentation='landscape']
    .character-list-avatar {
    width: 64px;
    height: 64px;
  }
}

